# Load Data

In [1]:
import pandas as pd
import sklearn as sk

In [2]:
#การอ่านข้อมูลที่เป็น csv โดยที่ column แรกไม่ต้องใส่ index
data = pd.read_csv('project1_heart.csv', index_col = 0)
data

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,typical,145.0,233.0,1,2,150.0,0,2.3,3,0.0,fixed,No
2,67,1,asymptomatic,160.0,286.0,0,2,108.0,1,1.5,2,3.0,normal,Yes
3,67,1,asymptomatic,120.0,229.0,0,2,129.0,1,2.6,2,2.0,reversable,Yes
4,37,1,nonanginal,130.0,250.0,0,0,187.0,0,3.5,3,0.0,normal,No
5,41,0,nontypical,130.0,204.0,0,2,172.0,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,45,1,typical,110.0,264.0,0,0,132.0,0,1.2,2,0.0,reversable,Yes
300,68,1,asymptomatic,144.0,193.0,1,0,141.0,0,3.4,2,2.0,reversable,Yes
301,57,1,asymptomatic,130.0,131.0,0,0,115.0,1,1.2,2,1.0,reversable,Yes
302,57,0,nontypical,130.0,236.0,0,2,174.0,0,0.0,2,1.0,normal,Yes
303,38,1,nonanginal,138.0,175.0,0,0,173.0,0,0.0,1,NaN,normal,No

# Data Summarization and Exploration

In [3]:
#การเรียกดูข้อมูล 5 ตัวแรก
data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
1,63,1,typical,145.0,233.0,1,2,150.0,0,2.3,3,0.0,fixed,No
2,67,1,asymptomatic,160.0,286.0,0,2,108.0,1,1.5,2,3.0,normal,Yes
3,67,1,asymptomatic,120.0,229.0,0,2,129.0,1,2.6,2,2.0,reversable,Yes
4,37,1,nonanginal,130.0,250.0,0,0,187.0,0,3.5,3,0.0,normal,No
5,41,0,nontypical,130.0,204.0,0,2,172.0,0,1.4,1,0.0,normal,No

In [4]:
#การเรียกดูข้อมูล 5 ตัวสุดท้าย
data.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
299,45,1,typical,110.0,264.0,0,0,132.0,0,1.2,2,0.0,reversable,Yes
300,68,1,asymptomatic,144.0,193.0,1,0,141.0,0,3.4,2,2.0,reversable,Yes
301,57,1,asymptomatic,130.0,131.0,0,0,115.0,1,1.2,2,1.0,reversable,Yes
302,57,0,nontypical,130.0,236.0,0,2,174.0,0,0.0,2,1.0,normal,Yes
303,38,1,nonanginal,138.0,175.0,0,0,173.0,0,0.0,1,NaN,normal,No

In [5]:
#บอกจำนวน instant และ feature จากผลลัพธ์จะเห็นว่ามี instant ทั้งหมด 303 ตัว และมี feature 14 ตัว
data.shape

(303, 14)

In [6]:
#ดูข้อมูลสถิติเบื้องต้น โดยผลลัพธ์ที่ได้จะประกอบไปด้วย จำนวน ค่าเฉลี่ย ส่วนเบี่ยงเบนมาตรฐาน ค่าต่ำสุด ค่าเปอร์เซ็นที่ 25 50 75 และค่าสูงสุดของแต่ละ feature
data.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,298.000000,298.000000,303.000000,303.000000,297.000000,303.000000,303.000000,303.000000,299.000000
mean,54.438944,0.679868,131.704698,246.788591,0.148515,0.990099,149.535354,0.326733,1.039604,1.600660,0.672241
std,9.038662,0.467299,17.746438,52.205295,0.356198,0.994971,23.099219,0.469794,1.161075,0.616226,0.937438
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,241.500000,0.000000,1.000000,152.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,275.750000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [7]:
#เพื่อดูข้อมูลเบื้องต้น ทำให้ทราบว่าข้อมูลมี instant 303 ตัว มี feature 14 ตัว มีข้อมูลที่เป็น float 5 ตัว int 6 ตัว และ object 3 ตัว 
#และสามารถดูได้ว่า feature ใดบ้างที่มี missing
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 1 to 303
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     298 non-null    float64
 4   Chol       298 non-null    float64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      297 non-null    float64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(5), int64(6), object(3)
memory usage: 35.5+ KB

# Experiment 1 - Cleaning data by missing

In [8]:
#เพื่อดูว่า feature ใดบ้างที่มี missing จากผลลัพธ์จะเห็นว่า RestBP Chol MaxHR Ca Thal มีจำนวนค่าว่างเป็น 5 5 6 4 2 ตามลำดับ
data.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       5
Chol         5
Fbs          0
RestECG      0
MaxHR        6
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [9]:
#ให้ใส่ 0 ในช่องที่มี missing 
data.fillna(0, inplace=True)

In [10]:
#ใช้คำสั่ง isnull() อีกครั้งเพื่อดูว่ายังมี feature ใดบ้างที่มี missing อยู่ จากผลลัพธ์จะเห็นว่าทุก feature ไม่มี missing
data.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

# Experiment 2 - Cleaning data by nunique

In [11]:
#ให้ลบรายการที่ซ้ำออก เนื่องจากไม่มีค่าซ้ำจึงได้ instant 303 ตัว feature 14 ตัว 
data.drop_duplicates(inplace=True)
print(data.shape)

(303, 14)

In [12]:
#ดูว่าแต่ละ feature มี instant ที่ไม่มีแตกต่างกี่ค่า จากผลลัพธ์จะเห็นว่า feature 'ChestPain','RestECG', 'Slope', 'Ca','Thal' มีจำนวน instant 
#ที่ไม่มีแตกต่างกัน 4 3 3 5 3 ตามลำดับ 
data.nunique()

Age           41
Sex            2
ChestPain      4
RestBP        51
Chol         151
Fbs            2
RestECG        3
MaxHR         92
ExAng          2
Oldpeak       40
Slope          3
Ca             4
Thal           4
AHD            2
dtype: int64

# Experiment 3 - Cleaning data by dummy

In [13]:
#สร้างตัวแปร dummy 
hot = pd.get_dummies(data['ChestPain'], dtype = float)
hot1 = pd.get_dummies(data['RestECG'], dtype = float)
hot2 = pd.get_dummies(data['Slope'], dtype = float)
hot3 = pd.get_dummies(data['Ca'], dtype = float)
hot4 = pd.get_dummies(data['Thal'], dtype = float)

In [14]:
# สร้าง df โดยเก็บข้อมูล hot, hot1, hot2, hot3, hot4, data
df = pd.concat([hot, hot1, hot2, hot3, hot4, data], axis = 1)

# ลบ feature 'ChestPain','RestECG', 'Slope', 'Ca','Thal' ออก
df = df.drop(['ChestPain','RestECG', 'Slope', 'Ca','Thal'], axis = 1)
df.head()

,asymptomatic,nonanginal,nontypical,typical,0,1,2,1,2,3,...,reversable,Age,Sex,RestBP,Chol,Fbs,MaxHR,ExAng,Oldpeak,AHD
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,63,1,145.0,233.0,1,150.0,0,2.3,No
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,67,1,160.0,286.0,0,108.0,1,1.5,Yes
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,67,1,120.0,229.0,0,129.0,1,2.6,Yes
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,37,1,130.0,250.0,0,187.0,0,3.5,No
5,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,41,0,130.0,204.0,0,172.0,0,1.4,No

In [15]:
# เปลี่ยนชื่อ feature 'AHD' เป็น 'AHD_Yes' และแทนที่ข้อความ 'Yes' ด้วย '1' แทนที่ 'No' ด้วย '0' 
df.rename(columns={'AHD':'AHD_Yes'},inplace=True)
df['AHD_Yes'].replace({'Yes':'1','No':'0'}, inplace=True)
df

,asymptomatic,nonanginal,nontypical,typical,0,1,2,1,2,3,...,reversable,Age,Sex,RestBP,Chol,Fbs,MaxHR,ExAng,Oldpeak,AHD_Yes
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,63,1,145.0,233.0,1,150.0,0,2.3,0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,67,1,160.0,286.0,0,108.0,1,1.5,1
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,67,1,120.0,229.0,0,129.0,1,2.6,1
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,37,1,130.0,250.0,0,187.0,0,3.5,0
5,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,41,0,130.0,204.0,0,172.0,0,1.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,45,1,110.0,264.0,0,132.0,0,1.2,1
300,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,68,1,144.0,193.0,1,141.0,0,3.4,1
301,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,57,1,130.0,131.0,0,115.0,1,1.2,1
302,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,57,0,130.0,236.0,0,174.0,0,0.0,1
303,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,38,1,138.0,175.0,0,173.0,0,0.0,0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
import numpy as np

In [18]:
#นับจำนวนค่าที่ unique ใน feature 'AHD_Yes' และเก็บไว้ใน n_class ผลลัพธ์ที่ได้คือ n_class = 2
n_class = len(np.unique(df['AHD_Yes'])) ; print(n_class)

2

In [19]:
#ดูว่าค่าที่ unique ใน feature 'AHD_Yes' มีค่าใดบ้าง จากผลลัพธ์จะมี 2 ค่า คือ '0' และ '1' โดยเป็นข้อมูลประเภท object
np.unique(df['AHD_Yes'])

array(['0', '1'], dtype=object)

In [20]:
# Setting input features x and target output y
X = np.array(df.iloc[:,:-1]); print(X.shape) #กำหนดให้ X เก็บทุก instant ยกเว้น feature สุดท้าย
y = np.array(df['AHD_Yes']); print(y.shape) #กำหนดให้ y เก็บทุก instant ใน feature 'AHD_Yes'
print(X.shape)
print(np.unique(y))
n_class = np.unique(y)

# Scaling
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X) 
x_scaled = scaler.transform(X)

# Split data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
     x_scaled, y, test_size=0.33, random_state=4, stratify=y)

# Fit model
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(x_train, y_train)

# Evaluation --- Experiment 1
print('training performance: ', clf.score(x_train, y_train))
print('testing performance: ', clf.score(x_test, y_test))

(303, 26)
(303,)
(303, 26)
['0' '1']
training performance:  0.8620689655172413
testing performance:  0.88