In [2]:
x = [1,2,3]; print(x)
x = [1,2,3]; x.append(4); print(x)

[1, 2, 3]
[1, 2, 3, 4]

In [3]:
x = 'hello world'; print(x[0:4])

hell

In [4]:
x =3
y = x
y = 4
print(x)

3

In [5]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

In [7]:
print(True and False)

False

In [8]:
x = 'hey'; print(x*3)

heyheyhey

In [9]:
x =[1,2]; print(x*3)

[1, 2, 1, 2, 1, 2]

In [12]:
x = [0,1]; y = [2,3]; print(x+y)

[0, 1, 2, 3]

In [13]:
x = 'ab'; y = 'cd'; print(x+y)

abcd

In [15]:
def myfunction(x,y):
    x_new = x*2
    y_new = y+5
    z = x_new +y_new
    return z

x=5; y = 10
k = myfunction(x,y)
print(k)

25

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('dataset.csv', index_col=0)
print(df)

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [19]:
df_dup = pd.read_csv('dataset_dup.csv')
print(df_dup.shape)

(400, 4)

In [20]:
df_missing = pd.read_csv('dataset_missing.csv')
print(df_missing.shape)

(200, 5)

In [21]:
data = {'apples':[3, 2, 0, 1], 'oranges':[0, 3, 7, 2]}
df = pd.DataFrame(data, index=['Mr.A', 'Mr.B','Mr.C','Mr.D']); print(df)

      apples  oranges
Mr.A       3        0
Mr.B       2        3
Mr.C       0        7
Mr.D       1        2

In [32]:
data = {'apples':[3, 2, 0, 1], 'oranges':[0, 3, 7, 2]}
df = pd.DataFrame(data, index=['Mr.A', 'Mr.B','Mr.C','Mr.D'])
data2 = pd.DataFrame([[5,6],[7,8]],
     columns = ['apples', 'oranges'],
     index = ['Mr.E', 'Mr.F'])
df = df.append(data2)
print(df)

      apples  oranges
Mr.A       3        0
Mr.B       2        3
Mr.C       0        7
Mr.D       1        2
Mr.E       5        6
Mr.F       7        8

C:\Users\DELL\AppData\Local\Temp\ipykernel_1616\271481569.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data2)

In [38]:
df_path = 'heart_disease.csv'
df = pd.read_csv(df_path)
df.head()

df.nunique()

hot = pd.get_dummies(df['education'])

hot

      1.0  2.0  3.0  4.0
0       0    0    0    1
1       0    1    0    0
2       1    0    0    0
3       0    0    1    0
4       0    0    1    0
...   ...  ...  ...  ...
4233    1    0    0    0
4234    0    0    1    0
4235    0    1    0    0
4236    1    0    0    0
4237    0    1    0    0

[4238 rows x 4 columns]

In [75]:
df_path = 'movies.csv'
df_movies = pd.read_csv(df_path, index_col=0)
df_movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [76]:
df_movies.shape

(62423, 2)

In [77]:
df_movies.isnull().sum()

title     0
genres    0
dtype: int64

In [78]:
df_movies.drop_duplicates(inplace = True)
print(df_movies.shape)

(62409, 2)